.shadow-1 {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 14, 35, 0.05);
  overflow: hidden;
}

.shadow-2 {
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05), 0 4px 20px rgba(0, 14, 35, 0.05);
  overflow: hidden;
}

.shadow-3 {
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05), 0 4px 30px rgba(0, 14, 35, 0.05);
  overflow: hidden;
}

.rounded-md {
  border-radius: 13px;
  overflow: hidden;
}

.rounded-lg {
  border-radius: 18px;
  overflow: hidden;
}

.rounded-xl {
  border-radius: 25px;
  overflow: hidden;
}

.rounded-bottom-xl {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.rounded-full {
  border-radius: 50%;
}

@media (min-width: 767px) {
  .rounded-md {
    border-radius: 15px;
    overflow: hidden;
  }
  .rounded-lg {
    border-radius: 25px;
    overflow: hidden;
  }
  .rounded-xl {
    border-radius: 45px;
    overflow: hidden;
  }
  .rounded-bottom-xl {
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}
.bg-squares {
  background: var(--color-light-1) url(/assets/img/template/bgr-squeres.svg) 0 0/64px;
}

.op-5 {
  opacity: 0.5;
}

.op-6 {
  opacity: 0.6;
}

.op-7 {
  opacity: 0.7;
}

.line-x {
  width: 100%;
  height: 1px;
  background: var(--color-dark-1);
  opacity: 0.13;
}

.line-xh {
  width: 100%;
  height: 1px;
  background: var(--color-dark-1);
  opacity: 0.13;
}

@media (min-width: 767px) {
  .bg-gradient {
    position: relative;
    z-index: 0;
  }
  .bg-gradient::after,
  .bg-gradient::before {
    position: absolute;
    content: "";
    left: 50%;
    width: 90%;
    height: 66%;
    background: rgba(68, 143, 254, 0.3);
    filter: blur(50px);
    border-radius: 20%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .bg-gradient::after {
    top: -75%;
  }
  .bg-gradient::before {
    bottom: -75%;
  }
}
