</main>

<footer class="site-footer pt-small pt-md-large pb-xsmall bg-light-2" data-scroll-section>
    <div class="footer-parallax">
        <div class="container">
      <div class="pt-xlarge pb-xsmall"></div>
      <div class="pt-xlarge pb-xsmall"></div>
      <div class="pt-xlarge pb-xsmall"></div>
      <div class="pt-xlarge pb-xsmall"></div>
      <div class="pt-xlarge pb-xsmall"></div>
        </div>
    </div>
</footer>

{% include 'partials/foot.njk' %}