<section class="pb-small pb-md-large" data-scroll-section>
    <div class="container">
        <div class="row g-4"> 
         
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 fade-in">
               <div class="benefit-card bc-light">
                  <div class="p-4 pb-5 pt-md-4 p-md-5">
                     <svg class="benefit-card-svg" width="608" height="262" viewBox="0 0 608 262" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 40C0 17.9086 17.9086 0 40 0H464.885C475.521 0 485.719 4.23596 493.225 11.7716L596.34 115.294C603.807 122.791 608 132.941 608 143.522V222C608 244.091 590.091 262 568 262H40C17.9086 262 0 244.091 0 222V40Z" fill="var(--color-accent-1)"/>
                     </svg>
                    <h3 class="h3 color-light">
                        Efektywność kosztowa
                    </h3>
                    <div class="line-x my-4"></div>
                    <p class="mb-0 color-light">
                        Oferuję konkurencyjne ceny bez kompromisów co do jakości.
                    </p>
                  </div>
               </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 fade-in">
               <div class="benefit-card">
                  <div class="p-4 pb-5 pt-md-4 p-md-5">
                    <svg class="benefit-card-svg" width="610" height="276" viewBox="0 0 610 276" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M609 275.5V144.522C609 133.941 604.807 123.791 597.34 116.294L494.225 12.7716C486.719 5.23596 476.521 1 465.885 1H41C18.9086 1 1 18.9086 1 41V275.5" fill="var(--color-light-3)"/>
                    </svg>
                    <h3 class="h3">
                        Indywidualne podejście
                    </h3>
                    <div class="line-x lx-op-2 my-4"></div>
                    <p class="mb-0">
                        Każdy projekt jest unikatowy, dostosowany do specyficznych potrzeb klientów.
                    </p>
               </div>
               </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 fade-in">
               <div class="benefit-card">
                  <div class="p-4 pb-5 pt-md-4 p-md-5">
                    <svg class="benefit-card-svg" width="610" height="276" viewBox="0 0 610 276" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M609 275.5V144.522C609 133.941 604.807 123.791 597.34 116.294L494.225 12.7716C486.719 5.23596 476.521 1 465.885 1H41C18.9086 1 1 18.9086 1 41V275.5" fill="var(--color-light-3)"/>
                    </svg>
                    <h3 class="h3">
                        Wsparcie po zakończeniu
                    </h3>
                    <div class="line-x lx-op-2 my-4"></div>
                    <p class="mb-0">
                        Zawsze jestem dostępny, aby pomóc, wprowadzić aktualizacje lub rozwiązać problemy.
                    </p>
               </div>
               </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 fade-in">
               <div class="benefit-card">
                  <div class="p-4 pb-5 pt-md-4 p-md-5">
                    <svg class="benefit-card-svg" width="610" height="276" viewBox="0 0 610 276" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M609 275.5V144.522C609 133.941 604.807 123.791 597.34 116.294L494.225 12.7716C486.719 5.23596 476.521 1 465.885 1H41C18.9086 1 1 18.9086 1 41V275.5" fill="var(--color-light-3)" />
                    </svg>
                    <h3 class="h3">
                        Zacznijmy współpracę
                    </h3>
                    <div class="line-x lx-op-2 my-4"></div>
                    <p class="mb-0">
                        Stworzymy stronę, która przyciągnie uwagę i zamieni odwiedzających w klientów.
                    </p>
                  </div>
               </div>
            </div>

        </div>
    </div>
</section>
