<section class="clients-bridge-wrap bg-dark-1">
  <img src="/assets/img/template/img-bridge.svg" class="clients-bridge" alt="">
  <div class="container">
    <div class="row g-3">
      {% for post in collections.clients.slice(0, 6) %}
      <div class="col-6 col-md-2 mt-0">
        <div class="client-card p-4">
          <img src="{{ post.data.logo }}" loading="lazy" decoding="async" width="175" height="74" alt="{{ post.data.title }} - Logo" />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
.clients-bridge-wrap {
position: relative;
}
.clients-bridge {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% + 1px);
}
</style>