<section class="faq pb-medium" itemscope itemtype="https://schema.org/FAQPage">
    <div class="container">
      <div class="row gx-md-5">
        <div class="col-md-6 d-none d-md-block" id="faq-sidebar">

        </div>
        <div class="col-md-6">
          <div class="accordion-wrap"> 
            <div class="line-x lx-op d-md-none mt-5 mt-md-0"></div>
            {% for post in collections.faq %}
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                <span class="h3 title my-0 split-lines" itemprop="name">
                  {{ post.data.title }}
                </span>
                <span class="icon fade-in"></span>
              </button>
              <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <p itemprop="text">
                  {{ post.data.answer }}
                </p>
              </div>
            </div>
            <div class="line-x lx-op mt-4"></div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div> 
</section> 