<section class="pt-large pb-large bg-light-1">
    <div class="container">
        <div class="row g-3">
                <div class="col-md-6 col-xl-4">
                    <div class="service-card rounded-md shadow-2 p-1 bg-light-1">
                        <div class="p-2 pb-0 rounded-md bg-light-2">
                        <img src="/assets/img/services/se-develop.webp" class="rounded-sm" alt="">
                        </div>
                        <div class="px-4 py-3">
                        <h2 class="h3 my-0">
                           Strony internetowe
                        </h2>
                        <p class="my-1">
                           Zyskaj przewagę konkurencyjną w sieci
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card rounded-md shadow-2 p-1 bg-light-1">
                        <div class="p-2 pb-0 rounded-md bg-light-2">
                        <img src="/assets/img/services/se-position.webp" class="rounded-sm" alt="">
                        </div>
                        <div class="px-4 py-3">
                        <h2 class="h3 my-0">
                           Pozycjonowanie w Google
                        </h2>
                        <p class="my-1">
                           Zwiększaj widoczność w wyszukiwarce
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card rounded-md shadow-2 p-1 bg-light-1">
                        <div class="p-2 pb-0 rounded-md bg-light-2">
                        <img src="/assets/img/services/se-design.webp" class="rounded-sm" alt="">
                        </div>
                        <div class="px-4 py-3">
                        <h2 class="h3 my-0">
                           Projektowanie graficzne
                        </h2>
                        <p class="my-1">
                           Pokaż się z najlepszej strony www
                        </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>