<section class="pt-small pb-medium bg-light-1" id="uslugi">
    <div class="container">
        <div class="col-md-5 mx-auto text-center mb-5">
            <p class="handwrite my-0">Sprawdź</p>
            <h2 class="h1 mt-0">
                W czym mogę pomóc
            </h2>
            <p>
            W jakich dziedzinach jestem w stanie pomóc Ci osiągnąć pożądane rezultaty
            </p>
        </div>
        <div class="row g-3">
                <div class="col-md-6 col-xl-4">
                    <div class="service-card rounded-md shadow-2 p-1 bg-light-1">
                        <div class="p-2 pb-0 rounded-md bg-light-2">
                        <img src="/assets/img/services/se-develop.webp" loading="lazy" decoding="async" width="382" height="204" class="rounded-sm" alt="Strony internetowe">
                        </div>
                        <div class="px-4 py-3">
                        <h2 class="h3 my-0">
                           Tworzenie stron www
                        </h2>
                        <p class="my-1">
                           Zyskaj przewagę konkurencyjną w sieci
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card rounded-md shadow-2 p-1 bg-light-1">
                        <div class="p-2 pb-0 rounded-md bg-light-2">
                        <img src="/assets/img/services/se-position.webp" loading="lazy" decoding="async" width="382" height="204" class="rounded-sm" alt="Pozycjonowanie w Google">
                        </div>
                        <div class="px-4 py-3">
                        <h2 class="h3 my-0">
                           Pozycjonowanie w Google 
                        </h2>
                        <p class="my-1">
                           Zwiększaj widoczność w wyszukiwarce
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card rounded-md shadow-2 p-1 bg-light-1">
                        <div class="p-2 pb-0 rounded-md bg-light-2">
                        <img src="/assets/img/services/se-design.webp" loading="lazy" decoding="async" width="382" height="204" class="rounded-sm" alt="Projektowanie graficzne">
                        </div>
                        <div class="px-4 py-3">
                        <h2 class="h3 my-0">
                           Projektowanie graficzne
                        </h2>
                        <p class="my-1">
                           Pokaż się z najlepszej strony www
                        </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>