<section class="pb-md-large" data-scroll-section>
  <div class="container container-md p-relative">
    <svg class="service-wrap-svg" width="1359" height="67" viewBox="0 0 1359 67" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3617_58)">
      <path d="M0 33.3591V66.5581L564.5 66.5581C511.05 66.5581 507.063 0.647538 442.5 0.19917C389.621 -0.168058 126.527 0.0665279 33.0351 0.16346C14.7152 0.182454 0 15.0393 0 33.3591Z" fill="var(--color-light-3)"/>
      </g>
    </svg>
    <div class="service-wrap p-3 pb-5 p-md-4 px-xl-5 pt-md-0 pb-md-5 bg-light-3">
      <h2 class="xl split-lines mt-md-0 mb-4 mb-md-5">Moje usługi</h2>
      <div class="row g-3">
        <div class="col-md-6 fade-in">
          <a href="/uslugi/strony-internetowe/" title="Strony internetowe">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-3">
                <img
                  src="/assets/img/services/icon-1.webp"
                  width="70px"
                  height="70px"
                  alt="Strony internetowe"
                />
              </div>
              <div class="col-12 col-lg-9">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Strony internetowe</h3>
                <p class="my-0">
                  Zyskaj przewagę konkurencyjną i zdobywaj więcej klientów dzięki profesjonalnej stronie internetowej.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 fade-in">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-3">
                <img
                  src="/assets/img/services/icon-6.webp"
                  width="50px"
                  height="50px"
                  loading="lazy"
                  alt="Sklepy internetowe"
                />
              </div>
              <div class="col-12 col-lg-9">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Sklepy internetowe</h3>
                <p class="my-0">
                  Sklepy które zapewniają wygodę zakupów i intuicyjną obsługę dzięki czemu zwiększasz sprzedaż bez zbędnego wysiłku.
                </p>
              </div>
            </div>
        </div>
        <div class="col-md-6 fade-in">
          <a href="/uslugi/pozycjonowanie-stron-www/" title="Pozycjonowanie stron www">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-3">
                <img
                  src="/assets/img/services/icon-2.webp"
                  width="50px"
                  height="50px"
                  loading="lazy"
                  alt="Pozycjonowanie"
                />
              </div>
              <div class="col-12 col-lg-9">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Pozycjonowanie stron</h3>
                <p class="my-0">
                  Zwiększ widoczność Twojej strony w Google, by trafiała do osób szukających dokładnie tego, co oferujesz.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 fade-in">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-3">
                <img
                  src="/assets/img/services/icon-7.webp"
                  width="50px"
                  height="50px"
                  loading="lazy"
                  alt="Serwisy i platformy"
                />
              </div>
              <div class="col-12 col-lg-9">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Projekty graficzne</h3>
                <p class="my-0">
                  Unikalne projekty graficzne, które przyciągają uwagę i wzmacniają rozpoznawalność Twojej marki.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
