<section class="pb-small pb-md-large" data-scroll-section>
    <div class="container">
        <div class="row g-2 g-md-4">
            <div class="col-6 col-md-6 col-lg-3 fade-in">
                <div class="step-card magnetic" data-strength="90"  data-strength-text="20">
                <div class="btn-text text-center">
                    <!--
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.0032 55.0338C13.0779 55.0338 0.96875 42.9246 0.96875 27.9993C0.96875 13.074 13.0779 0.964844 28.0032 0.964844C42.9285 0.964844 55.0377 13.074 55.0377 27.9993C55.0377 42.9246 42.9848 55.0338 28.0032 55.0338Z" stroke="var(--color-dark-1)" stroke-width="1.93103" stroke-miterlimit="10"/>
                        <path d="M31.3213 40.8404H17.2409C15.7765 40.8404 14.5938 39.6576 14.5938 38.1932V17.3542C14.5938 15.8898 15.7765 14.707 17.2409 14.707H38.0799C39.5443 14.707 40.7271 15.8898 40.7271 17.3542V30.3082" stroke="var(--color-dark-1)" stroke-width="1.93103" stroke-miterlimit="10"/>
                        <path d="M37.4625 44.1632C41.5062 44.1632 44.7843 40.8851 44.7843 36.8414C44.7843 32.7976 41.5062 29.5195 37.4625 29.5195C33.4187 29.5195 30.1406 32.7976 30.1406 36.8414C30.1406 40.8851 33.4187 44.1632 37.4625 44.1632Z" stroke="var(--color-dark-1)" stroke-width="1.93103" stroke-miterlimit="10"/>
                        <path d="M33.9768 36.6185C35.4975 36.1116 36.7929 34.9288 37.2435 33.3518C37.2998 33.0702 37.6377 33.0702 37.7504 33.3518C38.2573 34.8725 39.4401 36.1679 41.0171 36.6185C41.2987 36.6748 41.2987 37.0127 41.0171 37.1254C39.4964 37.6323 38.201 38.8151 37.7504 40.3921C37.6941 40.6737 37.3561 40.6737 37.2435 40.3921C36.7366 38.8714 35.5538 37.576 33.9768 37.1254C33.6952 37.0127 33.6952 36.6185 33.9768 36.6185Z" fill="white"/>
                        <path d="M22.5935 26.7027L19.1016 23.2107L22.0866 19.7188" stroke="var(--color-dark-1)" stroke-width="1.93103" stroke-miterlimit="10"/>
                        <path d="M29.4688 19.7188L32.9607 23.2107L29.4688 26.7027" stroke="var(--color-dark-1)" stroke-width="1.93103" stroke-miterlimit="10"/>
                        <path d="M26.9355 18.4805L24.8516 28.6184" stroke="var(--color-dark-1)" stroke-width="1.93103" stroke-miterlimit="10"/>
                    </svg>
                    -->
                    <img src="/assets/img/services/balance.gif" alt="">
                    <p class="h5 mt-1 mt-md-3 mb-0">
                        Wysoka jakość <br />usług
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 fade-in">
                <div class="step-card magnetic" data-strength="90"  data-strength-text="20">
                <div class="btn-text text-center">
                    <img src="/assets/img/services/jump.gif" alt="">
                    <p class="h5 mt-1 mt-md-3 mb-0">
                        Atrakcyjne <br />ceny
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 fade-in">
                <div class="step-card magnetic" data-strength="90"  data-strength-text="20">
                <div class="btn-text text-center">
                    <img src="/assets/img/services/rotating.gif" alt="">
                    <p class="h5 mt-1 mt-md-3 mb-0">
                        Kompleksowe <br />wykonanie
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 fade-in">
                <div class="step-card magnetic" data-strength="90"  data-strength-text="20">
                <div class="btn-text text-center">
                    <img src="/assets/img/services/dropping.gif" alt="">
                    <p class="h5 mt-1 mt-md-3 mb-0">
                        Indywidualne <br />podejście
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>