<section class="bg-dark-1">
    <div class="container p-relative" style="background:url(/assets/img/template/bgr-globe.svg); background-size:cover; background-position:center">
        <div class="pt-xxlarge pb-xxlarge text-center">
            <p class="handwrite my-3 color-light-1">
                    Narzędzia których używam
                </p>
        </div>


            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Eleventy.js</span>
            </div>

                        <!-- Tool 2: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-netlify.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Netlify</span>
            </div>

                        <!-- Tool 3: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-wordpress.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Wordpress</span>
            </div>

                        <!-- Tool 4: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">VS Code</span>
            </div>

                        <!-- Tool 5: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">ChatGPT</span>
            </div>

                        <!-- Tool 6: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Bootstrap</span>
            </div>

                        <!-- Tool 7: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-gsap.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">GSAP</span>
            </div>

                        <!-- Tool 8: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Make</span>
            </div>

                        <!-- Tool 9: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-hotjar.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Hotjar</span>
            </div>

                        <!-- Tool 10: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-senuto.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Senuto</span>
            </div>

                                    <!-- Tool 11: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Trello</span>
            </div>

                                    <!-- Tool 12: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Figma</span>
            </div>

                                    <!-- Tool 13: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-meet.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">Meet</span>
            </div>

            <!-- Tool 14: GitHub -->
            <div class="tool-item d-flex align-items-center gap-1">
                <img loading="lazy" src="/assets/img/tools/ic-eleventy.webp" alt="github logo"  class="me-2" width="16" height="16">
                <span class="color-light-1">GitHub</span>
            </div>

    </div>
</section>

<style>
.tool-item {
  position: absolute;
  top: 14%;
  left: 15%;
  right: auto;
  padding: 4px 12px;
  width: fit-content;
  border-radius: 13px;
  border: 1px solid #0f2c58;
  background: #000e23;
  font-size: 1em;
  transition: 1s;
}
  .tool-item img {
    width: 16px;
    height: 16px
  }
 .tool-item:nth-child(1) {
  top: 14%;
  left: 15%;
  right: auto;
}
 .tool-item:nth-child(2) {
  top: 35%;
  left: 4%;
  right: auto;
}
 .tool-item:nth-child(3) {
  top: 27%;
  left: 28%;
  right: auto;
}
 .tool-item:nth-child(4) {
  top: 46%;
  left: 18%;
  right: auto;
}
 .tool-item:nth-child(5) {
  top: 61%;
  left: 6%;
  right: auto;
}
 .tool-item:nth-child(6) {
  top: 66%;
  left: 26%;
  right: auto;
}
 .tool-item:nth-child(7) {
  top: 79%;
  left: 15%;
  right: auto;
}
 .tool-item:nth-child(8) {
  top: 13%;
  left: auto;
  right: 11%;
}
 .tool-item:nth-child(9) {
  top: 25%;
  left: auto;
  right: 27%;
}
 .tool-item:nth-child(10) {
  top: 36%;
  left: auto;
  right: 4%;
}
 .tool-item:nth-child(11) {
  top: 45%;
  left: auto;
  right: 21%;
}
 .tool-item:nth-child(12) {
  top: 57%;
  left: auto;
  right: 9%;
}
 .tool-item:nth-child(13) {
  top: 72%;
  left: auto;
  right: 25%;
}
 .tool-item:nth-child(14) {
  top: 80%;
  left: auto;
  right: 9%;
}

</style>