<section class="bg-dark-1">
    <div class="container" style="background:url(/assets/img/template/bgr-globe.svg); background-size:cover; background-position:center">
           <div class="pt-xlarge pb-xlarge text-center">
                <p class="handwrite my-3 color-light-1">
                    Narzędzia których używam
                </p>
           </div>
    </div>
</section>