<section class="pt-medium pt-md-large pb-small pb-md-medium bg-dark-3">
    <div class="container bg-gradient">
        <div class="row g-4">
                <div class="col-md-6 col-xl-4">
                    <div class="value-card fade-in">
                        <object title="Lighting" class="mb-2" width="36" data="/assets/img/values/ic-user.svg" type="image/svg+xml"></object>
                        <h2 class="h3 color-light-3">
                           Bezpośredni kontakt
                        </h2>
                        <p class="color-light-3 op-7">
                           Rozmawiasz bezpośrebnio <br/>z wykonawcą Twojej strony
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="value-card fade-in">
                        <object title="Lighting" class="mb-2" width="36" data="/assets/img/values/ic-collaboration.svg" type="image/svg+xml"></object>
                        <h2 class="h3 color-light-3">
                           Doświadczenie w branży
                        </h2>
                        <p class="color-light-3 op-7">
                           Korzystasz z 8 lat doświadczenia <br/>zdobywanego w realizacji różnych projektów
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="value-card fade-in">
                        <object title="Lighting" class="mb-2" width="36" data="/assets/img/values/ic-integrity.svg" type="image/svg+xml"></object>
                        <h2 class="h3 color-light-3">
                           Dbałość o szczegóły
                        </h2>
                        <p class="color-light-3 op-7">
                           Skupiam się na detalach, które wyróżnią <br>Twoją stronę i zbudują profesjonalny wizerunek
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="value-card fade-in">
                        <object title="Lighting" class="mb-2" width="36" data="/assets/img/values/ic-client-based.svg" type="image/svg+xml"></object>
                        <h2 class="h3 color-light-3">
                           Partnerskie relacje
                        </h2>
                        <p class="color-light-3 op-7">
                           Wierzę, że najlepsze efekty powstają <br/>w atmosferze współpracy i zaufania
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="value-card fade-in">
                        <object title="Lighting" class="mb-2" width="36" data="/assets/img/values/ic-layers.svg" type="image/svg+xml"></object>
                        <h2 class="h3 color-light-3">
                           Efektywność i terminowość
                        </h2>
                        <p class="color-light-3 op-7">
                           Szanuję Twój czas, dlatego dostarczam <br/>projekty w uzgodnionych terminach
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="value-card fade-in">
                        <object title="Lighting" class="mb-2" width="36" data="/assets/img/values/ic-target.svg" type="image/svg+xml"></object>
                        <h2 class="h3 color-light-3">
                           Wsparcie po zakończeniu
                        </h2>
                        <p class="color-light-3 op-7">
                           Zawsze jestem dostępny, aby pomóc, <br/>wprowadzić aktualizacje lub zmiany
                        </p>
                    </div>
                </div>
        </div>
    </div>
</section>